* {
    margin: 0;
    padding: 0;
    font-family: "Gucci Sans Pro", Helvetica, Arial, sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 10px;

}

.logo img {
    width: 100px;
    height: 70px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 30px;
    color: rgb(199, 145, 6);

}

.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    text-decoration: none;
    color: rgb(199, 145, 6);
    font-size: 20px;
    font-weight: bold;

}

.header {
    display: flex;
    align-items: center;
    margin: 40px 50px;
}

.head {
    width: 50%;
}

.head img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.629);
}

.headtext {
    width: 50%;
    color: rgb(199, 145, 6);

}

.headtext h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.headtext h2 {
    font-size: 40px;
    margin-bottom: 10px;

}

.headtext p {
    font-size: 20px;
    color: rgb(160, 116, 5);


}

.gallery h1 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: rgb(199, 145, 6);
    margin-bottom: 50px;
    margin-top: 20px;


}

.perfume {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.frgnc {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.922);
    height: 620px;
    border-radius: 20px;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.91);
    border: 2px solid rgba(255, 255, 255, 0.974);
    align-content: center;
}

.frgnc img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin: 0 25px;
    margin-top: 20px;
}

.frgnc h1 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.frgnc p {

    font-size: 16px;
    text-align: center;
    color: white;
}

.frgnc h3 {
    font-size: 26px;
    color: white;
    text-align: center;
    padding-top: 50px;

}

.frgnc h3 span {
    font-size: 26px;
    color: rgb(199, 145, 6);

}

.frgnc h3 button {
    background-color: rgb(199, 145, 6);
    color: white;
    width: 120px;
    height: 40px;
    margin-left: 80px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid rgb(199, 145, 6);
    box-shadow: 5px -5px 5px white;
    border-radius: 10px;



}

.frgnc h3 button:hover {
    background-color: #fff;
    color: black;
    border: 3px solid rgb(199, 145, 6);
    box-shadow: 5px 5px 10px rgb(199, 145, 6);
}

.bags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.purse {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.922);
    height: 620px;
    border-radius: 20px;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.91);
    border: 2px solid rgba(255, 255, 255, 0.974);
    align-content: center;
}

.purse img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin: 0px 25px;
    margin-top: 20px;
}

.purse h1 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.purse p {
    font-size: 16px;
    text-align: center;
    color: white;
}

.purse h3 {
    font-size: 26px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.purse h3 span {
    font-size: 26px;
    color: rgb(199, 145, 6);

}

.purse h3 button {
    background-color: rgb(199, 145, 6);
    color: white;
    width: 120px;
    height: 40px;
    margin-left: 80px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid rgb(199, 145, 6);
    box-shadow: 5px -5px 5px white;
    border-radius: 10PX;
}

.purse h3 button:hover {
    background-color: #fff;
    color: black;
    border: 3px solid rgb(199, 145, 6);
    box-shadow: 5px 5px 10px rgb(199, 145, 6);
}

.backpack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bpacks {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.922);
    height: 620px;
    border-radius: 20px;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.91);
    border: 2px solid rgba(255, 255, 255, 0.974);
    align-content: center;
}

.bpacks img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin: 0px 25px;
    margin-top: 20px;
}

.bpacks h1 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.bpacks p {
    font-size: 16px;
    text-align: center;
    color: white;
}

.bpacks h3 {
    font-size: 26px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.bpacks h3 span {
    font-size: 26px;
    color: rgb(199, 145, 6);

}

.bpacks h3 button {
    background-color: rgb(199, 145, 6);
    color: white;
    width: 120px;
    height: 40px;
    margin-left: 80px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid rgb(199, 145, 6);
    box-shadow: 5px -5px 5px white;
    border-radius: 10PX;
}

.bpacks h3 button:hover {
    background-color: #fff;
    color: black;
    border: 3px solid rgb(199, 145, 6);
    box-shadow: 5px 5px 10px rgb(199, 145, 6);
}

.sandals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pics {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.922);
    height: 620px;
    border-radius: 20px;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.91);
    border: 2px solid rgba(255, 255, 255, 0.974);
    align-content: center;
}

.pics img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin: 0px 25px;
    margin-top: 20px;
}

.pics h1 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.pics p {
    font-size: 16px;
    text-align: center;
    color: white;
}

.pics h3 {
    font-size: 26px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.pics h3 span {
    font-size: 26px;
    color: rgb(199, 145, 6);

}

.pics h3 button {
    background-color: rgb(199, 145, 6);
    color: white;
    width: 120px;
    height: 40px;
    margin-left: 80px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid rgb(199, 145, 6);
    box-shadow: 5px -5px 5px white;
    border-radius: 10PX;
}

.pics h3 button:hover {
    background-color: #fff;
    color: black;
    border: 3px solid rgb(199, 145, 6);
    box-shadow: 5px 5px 10px rgb(199, 145, 6);
}

.display {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 600px;
    background-color: rgb(199, 145, 6);
    margin-top: 40px;
    border: 3px solid rgb(168, 122, 6);
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
}

.display img {
    width: 90%;
    height: 540px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.629);
    border-radius: 10px;


}

.displaytext h4 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.909);
    margin-bottom: 50px;
    margin-top: 20px;
    text-decoration: underline;

}

.slides {
    display: flex;
    margin-top: 20px;
    height: 600px;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.slides1 {
    width: 300px;
    height: 150px;
    background-color: rgb(199, 145, 6);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.629);
    padding-left: 150px;
    color: rgba(0, 0, 0, 0.909);
    align-content: center;
}

.slides1 h1 {
    font-size: 26px;
    font-weight: bold;
}

.right {
    width: 50%;
}

.right img {
    width: 100%;
}

.letter {
    width: 90%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.909);
    justify-self: center;
    color: rgb(199, 145, 6);
    border: 3px solid rgb(199, 145, 6);
    box-shadow: 5px 5px 10px rgb(199, 145, 6);
    border-radius: 10px;
}

.letter h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
}

.letter input {
    width: 80%;
    height: 40px;
    margin-left: 80px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.656);
    border-radius: 10PX;
    font-size: 18px;
}

.letter input:focus {
    background-color: rgb(199, 145, 6);
    color: #fff;
    font-size: 18px;
}

.letter button {
    background-color: rgb(199, 145, 6);
    color: white;
    width: 120px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid rgb(199, 145, 6);
    box-shadow: 5px -5px 5px white;
    border-radius: 10PX;

}

.letter button:hover {
    background-color: #fff;
    color: black;
    border: 3px solid rgb(199, 145, 6);
    box-shadow: 5px 5px 10px rgb(199, 145, 6)
}

.footer-container {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.909);
    color: rgb(199, 145, 6);
    height: 250px;
    border-radius: 20px;
    box-shadow: 10px -5px 10px rgba(0, 0, 0, 0.629);
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer-column h1 {
    margin-top: 20px;
    font-size: 28px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-column a {
    text-decoration: none;
    color: rgb(199, 145, 6);
}

.bottom {
    text-align: center;
    margin-top: 40px;

}

.bottom a {
    text-decoration: none;
    color: #fff;
}